body {
    margin: 0;
}

h1 {
    text-align: center;
}

canvas {
    border: 1px solid black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: none;
}

.page_wrap {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}