@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap');

:root {
    --background-color: #333f58;
    --highlight-warm: #FBBCAD;
    --highlight-cool: #ADECFB;
    --accent-color: #ABD1BB;
    --neutral-color: #eee;
    --shadow-color: hsl(218 26% 54% / 1);
    --shadow-full:  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
                    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
                    0 12.5px 10px rgba(0, 0, 0, 0.035),
                    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
                    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
                    0 100px 80px rgba(0, 0, 0, 0.07);
    --shadow-thin:  0 0.3px 10px -80px rgba(0, 0, 0, 0.035),
                    0 2px 80px -80px rgba(0, 0, 0, 0.07);
}

body {
    margin: 0;
    background: var(--background-color);
    font-family: 'Signika', sans-serif;
    color: white;
}

h1 {
    text-align: center;
    color: var(--highlight-warm);
    font-size: 3em;
}

canvas {
    border: 2px solid var(--highlight-warm);
    box-shadow: var(--shadow-full);
    border-radius: 6px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    display: none;
}

.page_wrap {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.game_stats_wrap {
    display: flex;
    justify-content: space-around;
    border: 2px dashed var(--shadow-color);
    margin-bottom: 2em;
    border-radius: 6px;
}

.game_stats_wrap p {
    margin: 1em 1.5em;
    color: var(--accent-color);
}

.stats_value {
    color: var(--highlight-cool);
    margin-left: 0.25em;
}

.flash {
    animation: flash 2s ease infinite;
}

@keyframes flash {
    25% {
        transform: translateX(1em);
        background-color: hsl(218 26% 54% / 0.5);
    }
    50% {
        border: 2px dashed var(--accent-color);
        box-shadow: var(--shadow-thin);
    }
    75% {
        transform: translateX(-0.2em);
    }
}